
<div class="row">
  <h1 class="text-center">Subasta La Haus</h1>
  <div class="text-center">
    <%= link_to 'Ver inventario', products_path, class: "btn btn-primary" %>
  </div>
  <br>
</div>

<table class="bids-table table table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
    <% @current_bids.each_with_index do |bid, index| %>
      <tr>
        <td><%= bid.product.name %></td>
        <td><%= bid.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
