<h1>See Here Our Live Bids!</h1>


<%= link_to 'See Products', products_path %>

<table class="bids-table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_bids.each_with_index do |bid, index| %>
      <tr>
        <td><%= bid.product.name %></td>
        <td><%= bid.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
