<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<%= link_to 'Editar', edit_product_path(@product), class: "btn btn-primary" %> |
<%= link_to 'Atras', products_path, class: "btn btn-default" %>
